body {
  background-image: url("../img/bg/bg-lines.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: initial;
  font-family: sans-serif;
  padding-bottom: 500px;
}
.container {
  width: 1224px;
  margin: 0 auto;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relative {
  position: relative;
}
.navigation-wrapper {
  display: flex;
  height: 128px;
  align-items: center;
}
.nav-logo-wrapper {
  margin-right: 190px;
}
.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'League-Spartan', sans-serif;
  font-weight: 700;
}
.navigation__item {
  margin-right: 40px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  color: #000;
  text-decoration: none;
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.58px;
  font-family: "Leaque Spartan";
}
.read-more-link,
a.read-more-link {
  color: #333333;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
.read-more-link::after,
a.read-more-link::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 2px;
  background-color: rgba(93, 168, 239, 0.7);
}
.title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-align: center;
  margin-bottom: 20px;
}
.subtitle {
  display: block;
  color: #5da8ef;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}
.desc-text {
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.title-desc {
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-bottom: 35px;
}
.vertical-text {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}
.header {
  position: relative;
  margin-bottom: 95px;
}
.site-desc {
  position: absolute;
  right: -50px;
  top: 58px;
  transform: rotate(-90deg);
}
.site-desc__content {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}
.social {
  width: 20px;
  position: absolute;
  right: -45px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.social__item {
  margin-bottom: 34px;
  color: #ebebeb;
}
.social__item:last-child {
  margin-bottom: 0;
}
.slide-wrapper {
  position: relative;
}
.slide-item {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.slide-item__desc {
  width: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slide-item__heading {
  color: #0b0c11;
  font-family: 'Playfair Display', serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 14px;
}
.slide-item__heading span {
  color: rgba(93, 168, 239, 0.9);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  display: block;
}
.slide-item__text {
  width: 390px;
  color: #8f8f8f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.slide-item__img {
  width: 1016px;
  height: 572px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
}
.slide-item__img--bg-1 {
  background-image: url("../img/img/img-header.jpg");
}
.slide-controls {
  position: absolute;
  width: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide-controls__left {
  cursor: pointer;
}
.slide-controls-number {
  /* Style for "1/5" */
  font-family: 'League-Spartan', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 3px;
}
.slide-controls-number__active {
  color: #5da8ef;
}
.slide-controls-number__from {
  color: #ebebeb;
}
.slide-controls-number__total {
  color: #262626;
}
.slide-controls__right {
  cursor: pointer;
}
.quote {
  padding-top: 95px;
  padding-bottom: 110px;
}
.quote-wrapper {
  width: 610px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.quote-wrapper::after {
  content: "";
  width: 2px;
  height: 100px;
  background-color: #5da8ef;
  position: absolute;
  bottom: -58px;
  left: 50%;
  transform: translate(-50%, 100%);
}
.quote__text {
  color: rgba(51, 51, 51, 0.9);
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.26px;
  margin-bottom: 25px;
}
.quote__auothor {
  color: rgba(51, 51, 51, 0.9);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}
.club-description {
  padding-top: 110px;
  padding-bottom: 95px;
}
.club-description-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.club-description-video {
  position: absolute;
  right: 0;
  top: 43px;
  z-index: 1;
}
.club-description-video__control {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 68px;
  box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
  background-color: #5da8ef;
  border-radius: 50%;
}
.club-description-video__control img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-35%, -50%);
}
.club-description__text {
  margin-top: 60px;
  margin-left: 115px;
  width: 340px;
  margin-bottom: 45px;
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.club-description__link {
  margin-left: 115px;
}
.shop {
  padding-top: 95px;
  padding-bottom: 110px;
}
.shop-slider {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.board {
  position: relative;
  width: 350px;
  height: 435px;
}
.board__img-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 320px;
  background-color: #e8e8e8;
}
.board__img-holder .board__img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.shop-link-wrapper {
  display: flex;
  justify-content: center;
}
.board-desc {
  width: 210px;
  position: absolute;
  top: 196px;
  left: 216px;
}
.board__cat {
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.board__title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.26px;
}
.board-buy {
  margin-top: 38px;
  margin-left: 55px;
}
.board-buy__price {
  color: #ce60a8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
  margin-bottom: 3px;
}
.board-buy__link {
  color: #333333;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  margin-left: 4px;
}
.article {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.article--odd {
  flex-direction: row-reverse;
}
.article__desc {
  width: 462px;
  padding: 80px 50px 0 70px;
}
.article--odd .article__desc {
  width: 515px;
  flex: 0 0 515px;
  padding-left: 75px;
  padding-right: 105px;
}
.article__title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0.42px;
  position: relative;
  margin-bottom: 45px;
}
.article__title::before {
  content: attr(data-number);
  /* Style for "01" */
  color: #f9f9f9;
  font-family: 'League-Spartan', sans-serif;
  font-size: 130px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 13px;
  position: absolute;
  left: 0;
  top: -17px;
  z-index: -1;
}
.article__title::after {
  content: "";
  width: 23px;
  height: 2px;
  background-color: #5da8ef;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.article__text {
  margin-bottom: 60px;
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.article__preview {
  width: 762px;
  position: relative;
  flex: 0 0 762px;
}
.article--odd .article__preview {
  flex: 0 0 490px;
}
.article__preview-desc {
  position: absolute;
  right: -30px;
  top: 0;
  transform: rotate(-90deg);
}
.article--odd .article__preview-desc {
  left: -30px;
  right: auto;
}
.article__preview-desc-content {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}
.subscribe {
  width: 590px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 160px;
  padding-bottom: 75px;
  position: relative;
  text-align: center;
}
.subscribe::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 100px;
  background-color: #5da8ef;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.subscribe-form {
  display: flex;
}
.subscribe__input {
  color: rgba(51, 51, 51, 0.9);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  /* Style for "input" */
  width: 590px;
  height: 50px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.03);
  background-color: #f5f5f5;
  padding: 0 30px;
  border: 1px solid rgba(97, 97, 97, 0);
  transition: 0.2s ease-in;
}
.subscribe__input:active,
.subscribe__input:focus {
  border: 1px solid rgba(97, 97, 97, 0.15);
  outline: none;
}
.subscribe__submit {
  width: 50px;
  height: 50px;
  background-color: #5da8ef;
  background-image: url('../img/controls/subscribe-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  text-indent: -1000px;
  border: 0px none;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.subscribe__submit:hover,
.subscribe__submit:focus {
  background-color: #74b4f1;
  outline: none;
}
.subscribe__submit:active {
  background-color: #2f8fea;
  outline: none;
}
.camp {
  min-height: 475px;
  position: relative;
  margin-top: 75px;
}
.camp__img {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.camp__desc {
  width: 50%;
  padding-top: 100px;
  padding-left: 44px;
}
.camp__label {
  color: rgba(11, 12, 17, 0.27);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.58px;
}
.camp__address {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 48px;
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.32px;
}
.camp__desc .read-more-link {
  color: #5da8ef;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-wrapper {
  margin-bottom: 35px;
}
.footer-nav-wrapper {
  margin-bottom: 40px;
}
