.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.footer-logo-wrapper {
  margin-bottom: 17.5px;
}
@media (min-width: 768px) {
  .footer-logo-wrapper {
    margin-bottom: 35px;
  }
}
.footer-nav-wrapper {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer-nav-wrapper {
    margin-bottom: 40px;
  }
}
