.social {
  
  &-gorisontal {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    @media (min-width: 1254px) {
      display: none;
    }
  }
  
  &-vertical  {
    display: none;

    @media (min-width: 1254px) {
      display: flex;
      justify-content: center;
      width: 20px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 9;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    @media (min-width: 1400px) {
      right: -45px;
      bottom: 0;
    }
  }
}

.social__item {
  margin-left: 15px;
  margin-right: 15px;
  .social-vertical & {
    margin-bottom: 34px;
    color: #ebebeb;
    margin-left: 0;
    margin-right: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  
}